@{
    ViewData["Title"] = "Department List";
}
@model IEnumerable<DepartmentViewModel>

<h1>@ViewData["Title"]</h1>

<a asp-action="Create" class="btn btn-outline-success">Create New Department</a>
<hr>

@if (!Model.Any())
{
    <h5 class="text-danger">No records available!</h5>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var department in Model)
            {
                <tr>
                    <td>@department.Name</td>
                    <td>@department.Description</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a asp-action="Detail" asp-route-id="@department.Id" class="btn btn-outline-primary btn-sm">Detail</a>
                            <a asp-action="Edit" asp-route-id="@department.Id" class="btn btn-outline-secondary btn-sm">Edit</a>
                            <form asp-action="Delete" asp-route-id="@department.Id" method="post"
                                onsubmit="return confirm('Are you sure?');">
                                <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
}